@media (min-width: 768px) {
  .tape {
    --rt: ;
    height: var(--ht, 300px);
    width: var(--wdt, 50px);
    position: absolute;
    background: repeating-linear-gradient(
      90deg,
      #aeacac,
      #999898 1px,
      #aeacac 1px
    );
    filter: blur(0.5px);
    transform: rotate(90deg);

  }
}

@media screen and (max-width: 768px) {
  .tape {
    height: 150px;
    width: 45px;
    position: absolute;
    background: repeating-linear-gradient(
      90deg,
      #aeacac,
      #999898 1px,
      #aeacac 1px
    );
    filter: blur(1px);
    transform: rotate(90deg);

    clip-path: polygon(
      1% 0%,
      19% 1%,
      30% 0%,
      38% 0%,
      48% 1%,
      58% 3%,
      62% 3%,
      79% 3%,
      73% 1%,
      84% 0%,
      87% 0%,
      91% 4%,
      92% 2%,
      99% 0%,
      96% 5%,
      96% 20%,
      100% 34%,
      100% 46%,
      99% 54%,
      95% 57%,
      87% 69%,
      100% 77%,
      100% 82%,
      100% 89%,
      100% 96%,
      90% 99%,
      76% 100%,
      71% 97%,
      63% 100%,
      54% 99%,
      51% 100%,
      37% 98%,
      34% 100%,
      21% 99%,
      17% 100%,
      14% 98%,
      10% 100%,
      3% 98%,
      3% 100%,
      0% 85%,
      4% 80%,
      0% 74%,
      4% 55%,
      6% 45%,
      3% 40%,
      0% 34%,
      6% 25%,
      4% 16%,
      1% 13%
    );
  }
}
